*{

margin: 1;
padding: 10;

}



.img {
    background-color: rgb(96, 96, 122);
    color: rgb(231, 210, 178);
    display: flex;
    justify-content: middle;
    align-content: middle;
    padding: 24px 0;
}

img{
    width: 25%; height: 15%;

}


