*{

margin: 0;
padding: 0;

}



.cabecalho {
    background-color: rgb(83, 83, 112);
    color: blanchedalmond;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 24px 0;
}
.cabecalho.imagem{
    width: 45%; height: 30%;

}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16;
}